
.clip-path{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 82%);
}
.clip-path-2{
    clip-path: polygon(0% 18%,100% 0%,100% 84%,0% 100%);
}
.clip-path-3{
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
}
.clip-path-4{
    clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%);
}
.clip-path-5{
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
}
.object{
    object-fit: cover;
}

.imgClient{
    object-fit: contain;
    aspect-ratio:4/3;
    mix-blend-mod:color-burn;
}

.service-icon{
    position:relative;
    background-image: linear-gradient(#7644f3, #1fc9fc);
}

.service-icon::before{
    content:"";
    position:absolute;
    top:0;
    bottom:4px;
    left:0;
    right:4px;
    background:#182761;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@media screen and (max-width: 920px) {
    .clip-path-2{
        clip-path: polygon(0 5%, 100% 0, 100% 88%, 0 100%);
    }
}
@media screen and (max-width: 430px) {
    .clip-path{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    }
    .clip-path-2{
        clip-path: polygon(0 3%, 100% 0, 100% 96%, 0 100%);
    }
    .clip-path-4{
        clip-path: polygon(0 3%, 100% 0, 100% 96%, 0 100%);
    }
}